body{
    font-family: tahoma;
    text-align: justify;
    overflow-x: hidden;
}

.navbar-text a {
    text-decoration: none;
    padding-right: 7px;
}

.bi {
    transition: fill .1s;
}

.bi:hover {
    fill: rgb(109, 109, 109);
}

.header {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: row;
    max-height: 55%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.mainImg {
    max-height: 100%;
    height: 30vw;
    align-self:flex-start;
}

.header-content {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.header-content h1 {
    font-size: 45px;
}


.header-content h2 {
    margin-left: 3px;
    font-size: 25px;
}

@media (max-width: 901px) {
    .mainImg{
        display: none;
    }

    .header {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }

    .header-content {
        margin-top: 0px;
        justify-content: center;
        margin-left: 0px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .header-content h1 {
        font-size: 35px;
        text-align: center;
    }


    .header-content h2 {
        margin-left: 2px;
        font-size: 25px;
        text-align: center;
    }
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: white;
    animation: blink 1.2s infinite;
}

.iam {
    font-weight: bold;
}

.typed {
    margin-right: 0.2em;
}

@keyframes blink {
    0% {background-color: white;}
    49.9% {background-color: white;}
    50% {background-color: transparent;}
    99.9% {background-color: transparent;}
    100% {background-color: white;}
}

.aboutme {
    width: 80%;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}


#hide {
    max-width: 80%;
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.github-stats {
    width: 100%;
    display: flex;
}

.github-stats img {
    width: 50%;
}

@media (max-width: 901px) {
    .aboutme {
        width: 90%;
        flex-direction: column;
        margin-right: 5%;
        margin-left: 5%;
    }

    #hide {
        display: none;
    }
    .github-stats{
        display: none;
    }
}