/* Body */
body {
  font-family: tahoma;
  text-align: justify;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection {
  color: #ffd535;
  background: #292929;
}

::-moz-selection {
  color: #ffd535;
  background: #292929;
}

@keyframes fadeinall {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

#loader {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: #fff;
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

::-webkit-scrollbar {
  width: 0.75em;
  background-color: #ebebeb;
}

::-webkit-scrollbar-track {
  background-color: #292929;
  margin-block-start: calc(1.625rem + 35.5px);
}

::-webkit-scrollbar-thumb {
  border-radius: 50vw;
  background-color: #858585;
  width: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

/* Navbar */

.navbar-text a {
  text-decoration: none;
  padding-right: 7px;
}

.bi {
  transition: fill 0.15s ease-in-out;
}

.bi:hover {
  fill: #dab72d;
}

/* Header */

.header {
  background-color: #292929;
  display: flex;
  flex-direction: row;
  max-height: 55%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  color: #ffd535;
}

.header ::selection {
  color: #292929;
  background: white;
}

.header ::-moz-selection {
  color: #292929;
  background: white;
}

.mainImg {
  max-height: 100%;
  height: 30vw;
  align-self: flex-start;
}

.header-content {
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.header-content h1 {
  font-size: 45px;
}

.header-content h2 {
  margin-left: 3px;
  font-size: 25px;
}

@media (max-width: 901px) {
  .mainImg {
    display: none;
  }

  .header {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }

  .header-content {
    margin-top: 0px;
    justify-content: center;
    margin-left: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .header-content h1 {
    font-size: 35px;
    text-align: center;
  }

  .header-content h2 {
    margin-left: 2px;
    font-size: 25px;
    text-align: center;
  }
}

.cursor {
  display: inline-block;
  width: 3px;
  animation: blink 1.2s infinite;
}

.iam {
  font-weight: bold;
}

.typed {
  margin-right: 0.2em;
}

@keyframes blink {
  0% {
    background-color: #ffd535;
  }
  49.9% {
    background-color: #ffd535;
  }
  50% {
    background-color: transparent;
  }
  99.9% {
    background-color: transparent;
  }
  100% {
    background-color: #ffd535;
  }
}

/* About Me */

.aboutme {
  width: 100%;
  padding: 5vh 10vw 5vh 10vw;
  display: flex;
  flex-direction: column;
  color: #292929;
}

.aboutme ::selection {
  color: #ffd535;
  background: #292929;
}

.aboutme ::-moz-selection {
  color: #ffd535;
  background: #292929;
}

#hide {
  max-width: 80%;
  align-self: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.github-stats {
  padding-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.github-stats img {
  width: 50%;
}

#img-overide {
  width: 49.6%;
}

@media (max-width: 901px) {
  #hide {
    display: none;
  }
  .github-stats {
    flex-direction: column;
    align-items: center;
  }
  .github-stats img {
    width: 75%;
  }
  #img-overide {
    width: 74.8%;
  }
}

@media (max-width: 601px) {
  .github-stats img {
    width: 100%;
  }
  #img-overide {
    width: 100%;
  }
}

/* Footer */

.footer {
  background-color: #292929;
  color: #ffd535;
  padding: 1.5em 5vw 1em 5vw;
}

.footer ::selection {
  color: #292929;
  background: white;
}

.footer ::-moz-selection {
  color: #292929;
  background: white;
}

.footer-upper {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

.footer-upper h5 {
  text-justify: center;
}

.footer-upper ul {
  padding-left: 0;
}

.footer-upper a {
  color: white;
  transition: color 0.15s ease-in-out;
}

.footer-upper a:hover {
  color: #ffd535;
}

.disabled a {
  text-decoration: none;
}

.disabled a:hover {
  color: white;
  cursor: default;
}

.footer-lower {
  color: #ffd73599;
}

.footer-lower a {
  color: rgba(255, 255, 255, 0.647);
  transition: color 0.15s ease-in-out;
}

.footer-lower a:hover {
  color: #ffd735;
}
